header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#212121;
    border-bottom: 10px solid #FFC700;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


nav{
    
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px; 
    transition: transform 105ms cubic-bezier(.45,.97,.68,2.48);  
    
}

a::before {
    content: "";
    background-color: #FDD540;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}



#button {
    display: inline-block;
    background-color: #FFCB05;
    box-shadow: 5px 5px 0px #757373;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 105ms cubic-bezier(.45,.97,.68,2.48);
}

#button:hover {
    transform: scale(1.04);
}

a:hover {
    transform: scale(1.04);   
}