.box {
    display:inline-block;
    background-color: #212121;
    box-shadow: 10px 10px 0 rgba(83, 80, 80, 0.692);
    text-align: center;
    padding:42px 44px ;

}   

.box .title {
    margin-bottom: 25px;    
}